@model List<Customer>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-1">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Customers</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerModal-0" data-url="@Url.Action("Upsert")">
                        Create
                    </button>
                    <partial name="_Upsert" model="new Customer()" />
                </div>
            </div>

            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th>
                            Fullname
                        </th>
                        <th>
                            Mobile Number
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            IsActive
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.OrderBy(c => c.FullName))
                    {
                        <tr>
                            <td>
                                @obj.FullName
                            </td>
                            <td>
                                @obj.MobileNumber
                            </td>
                            <td>
                                @obj.City
                            </td>
                            <td>
                                @obj.IsActive
                            </td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#customerModal-@obj.ID" data-url="@Url.Action($"Upsert/{obj.ID}")">
                                        Edit
                                    </button>
                                    @await Html.PartialAsync("_Upsert", obj)
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
