@model List<PurchaseOrder>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-1">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Orders</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row pb-3">
                <div class="col-12">
                    <a asp-controller="PurchaseOrder" asp-action="Upsert" class="btn btn-primary">
                        Create New
                    </a>
                </div>
            </div>

            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th>
                            Customer
                        </th>
                        <th>
                            Delivery Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Amount Due
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.OrderBy(p => p.DateOfDelivery))
                    {
                        <tr>
                            <td>
                                @(obj.Customer?.FullName ?? "N/A")
                            </td>
                            <td>
                                @obj.DateOfDelivery.ToString()
                            </td>
                            <td>
                                @obj.Status
                            </td>
                            <td>
                                @obj.AmountDue
                            </td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="PurchaseOrder" asp-action="Upsert" asp-route-id="@obj.ID" class="btn btn-primary mx-2">
                                        Edit
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>